common/*
!common/.gitkeep
generated/*
!generated/.gitkeep
server/
src/generated/*
!src/generated/.gitkeep
src/app/generated/*
!src/app/generated/.gitkeep
node_modules/
bower_components/
.sass-cache/
.idea/
.tmp/
dist/
docs/
test/coverage-mri/
test/output
\#*\#
www/*
!www/.keep
